h2.display-5.mb-3 Configuration
+guideChunk(
  1,
  'Set up your name',
  'git config --global user.name "your name"',
  '',
  '',
  )
+guideChunk(
  2,
  'Set up your email',
  'git config --global user.email "your email"',
  '',
  'Important: Your email should be equal to your email on github',
  )
h2.display-5.mb-3 Initialization
