.col.border-end.pe-md-4
  case key
    when '1'
      include:markdown-it ../articles/setup.md
    when '2'
      include:markdown-it ../articles/initialize.md
    when '3'
      include:markdown-it ../articles/clone.md
    when '4'
      include:markdown-it ../articles/add.md
    when '5'
      include:markdown-it ../articles/commit.md
    when '6'
      include:markdown-it ../articles/push.md
    when '7'
      include:markdown-it ../articles/branch.md
    when '8'
      include:markdown-it ../articles/merge.md
    //- when '8'
    //-   include:markdown-it ../articles/9/tag.md
    //- when '9'
    //-   include:markdown-it ../articles/10/log.md
    default
      include:markdown-it ../articles/empty-do.md
.col.ps-md-4
  case key
    when '2'
      include:markdown-it ../articles/uninitialize.md
    when '3'
      include:markdown-it ../articles/delete.md
    when '4'
      include:markdown-it ../articles/clear-cache.md
    when '5'
      include:markdown-it ../articles/reset.md
    when '6'
      include:markdown-it ../articles/revert.md
    when '7'
      include:markdown-it ../articles/delete-branch.md
    when '8'
      include:markdown-it ../articles/unmerge.md
    //- when '9'
    //-   include:markdown-it ../articles/9/delete-tag.md
    default
      include:markdown-it ../articles/empty-undo.md
