doctype html
block head
html(lang= lang)
  head
  body
    .main-wrapper(data-bs-spy="scroll" data-bs-target="#navigation_header" tabindex="0" data-bs-smooth-scroll="true")
      block header
      block main
      block footer
    block scripts
      script(src="js/script.min.js")

