doctype html
block head
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='robots' content='noindex,nofollow,noarchive')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='icon' href='favicon.png' type='image/png')
    link(rel='stylesheet' href='css/style.min.css')
  body
    .main-wrapper(data-bs-spy="scroll" data-bs-target="#navigation_header" tabindex="0" data-bs-smooth-scroll="true")
      block header
      block main
      block footer
    block scripts
      script(src="js/script.min.js")

