.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.mt-5.border-top#scrollspyHeading3
  p.col-md-4.mb-0.text-muted &copy; 2023
  a.col-md-4.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
    include _logo-black
  ul.nav.col-md-4.justify-content-end
    li.nav-item
      a.nav-link.px-2.text-muted(href='https://getbootstrap.com' target="_blank")
        svg.bi.me-2(width='40' height='32' fill='currentColor')
          use(xlink:href='img/sprite.svg#bootstrap-fill')
