section#scrollspyHeading2.container.p-5.shadow-lg.rounded
  h1.display-3.fw-bold.mb-4.text-center Git Commands
  .row
    ul#myTab.nav.nav-pills.nav-fill(role='tablist')
      +guideTab('Setup', true)
      +guideTab('Staging')
    #myTabContent.tab-content
      +guideTabPane('Setup', true)
        include ../../data/articles/setup.pug
      +guideTabPane('Staging')
