section#scrollspyHeading2.container.p-5.shadow-lg.rounded
  h1.display-3.fw-bold.mb-4.text-center Git Commands
  .row
    ul#myTab.nav.nav-pills.nav-fill(role='tablist')
      +guideTab('Basics', true)
      +guideTab('Setup')
      +guideTab('Copy')
    #myTabContent.tab-content
      +guideTabPane('Basics', true)
        include ../../data/articles/basics.pug
      +guideTabPane('Setup')
      +guideTabPane('Copy')
