section.container.px-4.py-5#scrollspyHeading1
  .row.flex-lg-row-reverse.align-items-center.g-5.py-5.h-100
    .col-10.col-sm-8.col-lg-6.mx-auto
      picture
        source(type='image/webp' media='(min-width: 768px)' srcset='img/git_desktop.webp 1x, img/git_desktop@2x.webp 2x')
        source(type='image/webp' srcset='img/git_mobile.webp 1x, img/git_mobile@2x.webp 2x')
        source(media='(min-width: 768px)' srcset='img/git_desktop.jpg 1x, img/git_desktop@2x.jpg 2x')
        img.d-block.mx-lg-auto.img-fluid(src='img/git_mobile.jpg' srcset='img/git_mobile@2x.jpg 2x' alt="Git workflow", width='700', height='500', loading='lazy')
    .col-lg-6
      h1.display-5.lh-1.mb-3= hero_title
      p.lead= hero_subtitle
      .d-grid.gap-2.d-md-flex.justify-content-md-start
        a.btn.btn-primary.btn-lg.px-4.me-md-2(href="#scrollspyHeading2") Get started
        a.btn.btn-outline-secondary.btn-lg.px-4(href="https://git-scm.com/downloads" target="_blank") Install Git
