.container
  nav.header-main.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.py-3.mb-4.border-bottom
    a.header-main__logo.fs-3.text-decoration-none(href='#')
      mark { Слава Коду! }
    ul.header-main__list.nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0
      li.header-main__item
        a.header-main__link.nav-link(href='#') Telegram
      li.header-main__item
        a.header-main__link.nav-link(href='#') Instagram
      li.header-main__item
        a.header-main__link.nav-link(href='#') Twitter
    .dropdown-center.text-end
      button.dropdown__toggle.btn.btn-secondary.dropdown-toggle(id="lang" type="button" data-bs-toggle="dropdown" aria-expanded="false") English
      ul.dropdown__menu.dropdown-menu
        li
          a.dropdown__item.dropdown-item Русский
