extends ../templates/bases/_base
append variables
  - const lang = "en"
  - const page_title = "Git cheatsheet for beginners"
  - const page_description = "A simpliest cheatsheet fo git for beginners"
append components
  include ../templates/components/_guideTab
  include ../templates/components/_guideTabPane
  include ../templates/components/_guideSample
append content
  include ../templates/includes/_hero
  include ../templates/includes/_guide
