extends layouts/_layout
block variables
  - const lang = "en"
  - const title = "Git cheatsheet for beginners"
  - const hero_title = "A simple cheatsheet for the Git"
  - const hero_subtitle = "Start from a scratch a new typical project based on git and maintain it with a 10 simple steps"
  //- IMPORTANT: Allowed only letters and "-"/"_" symbols in steps values. Spaces are disallowed.
  - const steps = { 1: "Setup", 2: "Initialize", 3: "Copy", 4: "Stage", 5: "Commit", 6: "Push", 7: "Branch", 8: "Merge", 9: "Update", 10: "Log" }
