section
  .px-4.py-4.my-5.text-center(bis_skin_checked='1')
    // py-5 – if image enabled
    // img.d-block.mx-auto.mb-4(src='/docs/5.3/assets/brand/bootstrap-logo.svg' alt='' width='72' height='57')
    h1.display-5.fw-bold.mb-3= hero_title
    .col-lg-6.mx-auto(bis_skin_checked='1')
      p.lead.mb-4= hero_subtitle
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center(bis_skin_checked='1')
        a.btn.btn-primary.btn-lg.px-4.gap-3(type='button' href="#guide") Get started
        a.btn.btn-outline-secondary.btn-lg.px-4(type='button') Download cheatsheet
