doctype html
block variables
html(lang= lang)
  head
    include ../includes/_head
  body
    .main-wrapper(data-bs-spy="scroll" data-bs-target="#navigation_header" tabindex="0" data-bs-smooth-scroll="true")
      block header
      header.navbar.navbar-dark.navbar-expand-lg.bd-navbar.sticky-top.bg-primary
        include ../includes/_header
      block main
      main
        include ../includes/_hero
        include ../includes/_guide
      block footer
      footer.container
        include ../includes/_footer
    block scripts
      include ../includes/_scripts

