mixin codeTab
  ul#codeTab.nav(role='tablist')
    li.nav-item(role='presentation')
      a#run-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#run-tab-pane' type='button' role='tab' aria-controls='run-tab-pane' aria-selected='true') Run
    li.nav-item(role='presentation')
      a#undo-tab.nav-link(data-bs-toggle='tab' data-bs-target='#undo-tab-pane' type='button' role='tab' aria-controls='undo-tab-pane' aria-selected='false') Undo

