extends template/_layout
block head
    - const title = "Git quickstart page for beginners"
block header
  header.navbar.navbar-dark.navbar-expand-lg.bd-navbar.sticky-top.bg-primary
    - const hero_title = "The simpliest guide to use Git"
    - const hero_subtitle = "Start from a scratch a new typical project based on git and maintain it with a 10 simple steps"
    include template/_header
block main
  main.container.gy-3
    include template/_hero
    - const steps = { 1: "Setup", 2: "Inititalize", 3: "Clone", 4: "Stage", 5: "Commit", 6: "Push", 7: "Branch", 8: "Merge", 9: "Tag", 10: "Log" }
    include template/_guide
block footer
  footer.container
    include template/_footer
