extends template/_layout
block head
  - const lang = "en"
  - const title = "Git quickstart page for beginners"
    include template/_head
block header
  header.navbar.navbar-dark.navbar-expand-lg.bd-navbar.sticky-top.bg-primary
    - const hero_title = "The simpliest guide to use Git"
    - const hero_subtitle = "Start from a scratch a new typical project based on git and maintain it with a 10 simple steps"
    include template/_header
block main
  main
    //- IMPORTANT: Allowed only letters and "-"/"_" symbols in steps values. Spaces are disallowed.
    - const steps = { 1: "Setup", 2: "Initialize", 3: "Copy", 4: "Stage", 5: "Commit", 6: "Push", 7: "Branch", 8: "Merge", 9: "Update", 10: "Log" }
    include template/_hero
    include template/_guide
block footer
  footer.container
    include template/_footer
