//- All template content on the page
- var title = "Git quickstart page for beginners";
- var hero_title = "The simpliest guide to use Git";
- var hero_subtitle = "Start from a scratch a new typical project based on git and maintain it with a 10 simple steps";
- var steps = { 1: "Setup", 2: "Inititalize", 3: "Clone", 4: "Stage", 5: "Commit", 6: "Push", 7: "Branch", 8: "Merge", 9: "Tag", 10: "Log" }

//- Main structure
doctype html
head
  include blocks/head/head
  body
    header
      include blocks/header/header
    main.container.gy-3
      include blocks/hero/hero
      include blocks/guide/guide
    footer.container
      include blocks/footer/footer
      include blocks/scripts/scripts
