include variables

doctype html
head
  include blocks/head/head
  body
    header
      include blocks/header/header
    main
      include blocks/main-container/main-container
      include blocks/hero/hero
      include blocks/guide/guide
    include blocks/footer/footer
    include blocks/scripts/scripts
