extends templates/bases/_base
block variables
  - const lang = "en"
  - const page_title = "Git cheatsheet for beginners"
  - const page_description = "A simpliest cheatsheet for git for beginners"
block components
  include templates/components/_guideTab
  include templates/components/_guideTabPane
  include templates/components/_guideChunk
block content
  include templates/includes/_hero
  include templates/includes/_guide
