// Include any default variable overrides here (though functions won't be available)
$dropdown-min-width: 3rem;
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.dropdown-toggle {
  padding: 0.55rem 0.55rem;
}

.hero {
  padding: 6rem 0;
}
